.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: transparent;
    transition: all 0.4s ease 0s;

    &:hover&:not(.button--background),
    &:focus-within&:not(.button--background){
        background: var(--gradient-main);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.button--background {
    position: relative;
    background: black;
    border-radius: var(--border-radius-main);
    margin: 2px;

    &:before {
        content: "";
        position: absolute;
        inset: -2px;
        background: var(--gradient-main);
        z-index: -1;
        border-radius: var(--border-radius-main);

        &:hover,
        &:focus-within{
            background: var(--gradient-main);
        }
    }

    &:hover,
    &:focus-within{
        background: var(--gradient-main);
    }
}

.button--big {
    padding: 22px 32px 24px;
    font-size: 24px;
    min-height: 76px;
    @media (max-width: 1000.98px) {
        font-size: 20px;
        padding: 18px 24px 20px;
        min-height: 60px;
    }
    @media (max-width: 599.98px) {
        font-size: 16px;
        padding: 14px 20px 16px;
        min-height: 40px;
    }
    &.button--background{
        padding: 22px 48px 24px;
        @media (max-width: 1000.98px) {
            padding: 18px 36px 20px;
        }
        @media (max-width: 599.98px) {
            padding: 14px 24px 16px;
        }
    }
}

.button--small {
    padding: 14px 32px 16px;
    font-size: 18px;
    min-height: 52px;
    @media (max-width: 1000.98px) {
        padding: 10px 24px 12px;
        min-height: 44px;
    }
    @media (max-width: 599.98px) {
        padding: 6px 16px 8px;
        font-size: 14px;
        min-height: 38px;
    }
    &.button--background {
        padding: 14px 24px 16px;

        @media (max-width: 1000.98px) {
            padding: 10px 28px 12px;
        }
        @media (max-width: 599.98px) {
            padding: 6px 20px 8px;
        }
    }
}