.section{
    max-width: none;
    p{
        margin-top: auto;
        text-align: center;
        font-size: 32px;
    }
}

.image{
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-top: auto;
}