.title {
        background: var(--gradient-main);
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        max-width: 1630px;
    }

.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.stats {
    display: flex;
    gap: 34px;
    @media (max-width: 1000.98px) {
        gap: 24px;
    }
    @media (max-width: 599.98px) {
        gap: 16px;
    }
    @media (max-width: 479.98px) {
        gap: 8px;
        flex-direction: column;
    }
}

.stats__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--gradient-second);
    border-radius: var(--border-radius-main);
    width: 100%;
    padding: 32px;
    opacity: 0;
    transform: translateY(150px);
    text-align: center;
    @media (max-width: 1000.98px) {
        gap: 16px;
        padding: 24px;
    }

    @media (max-width: 599.98px) {
        gap: 8px;
        padding: 14px 8px;
    }
}

.stats__title {
    font-size: 64px;
    font-weight: 700;

    @media (max-width: 1000.98px) {
        font-size: 48px;
    }
    @media (max-width: 599.98px) {
        font-size: 32px;
    }
    @media (max-width: 479.98px) {
        font-size: 24px;
    }
}

.planet{
    position: absolute;
    right: 0;
    top: 126px;
    z-index: -2;
}

.decoration__orange,
.decoration__blue {
    filter: blur(200px);
    position: absolute;
    z-index: -1;
    rotate: -15deg;
}

.decoration__blue{
    left: 25%;
    top: -200px;
}

.decoration__orange{
    bottom: -70px;
    left: -200px;
}