.section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 36px;
    h1{
        background: var(--gradient-main);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 1630px;
        line-height: 100%;
    }
}

.planet{
    position: absolute;
    right: 0;
    bottom: -62px;
    z-index: -1;
}

.decoration__orange,
.decoration__blue {
    filter: blur(200px);
    position: absolute;
    z-index: -1;
}

.decoration__blue{
    left: 25%;
    top: -14%;
    rotate: 12deg;
}

.decoration__orange{
    left: 8%;
    bottom: -18%;
    rotate: 24deg;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.stats{
    display: flex;
    gap: 34px;
}

.stats__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--gradient-second);
    border-radius: var(--border-radius-main);
    width: 100%;
    padding: 32px;
}

.stats__title{
    font-size: 64px;
    font-weight: 700;
}