.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 1150px;
    p{
        line-height: 32px;
    }
}

.star{
    position: absolute;
    top: 0;
    left: 0;
}