
.mainSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 36px;
    h1{
        background: var(--gradient-main);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 1630px;
        line-height: 100%;

    }
}

.description{
    font-size: 24px;
}

.planet{
    position: absolute;
    right: 0;
    bottom: -62px;
}

.orangeDecoration,
.blueDecoration {
    filter: blur(200px);
    position: absolute;
    rotate: 152deg;
}

.blueDecoration{
    left: 20%;
    top: -20%;
}

.orangeDecoration{
    left: -20%;
    bottom: -18%;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.stats{
    display: flex;
    gap: 34px;
}

.statsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: var(--gradient-second);
    border-radius: var(--border-radius-main);
    width: 100%;
    padding: 32px;
}
.statsTitle{
    font-size: 64px;
    font-weight: 700;
}

.statsText{
    font-size: 24px;
}