.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @supports (overflow: clip) {
        overflow: clip;
    }

    & > main {
        /*footer is always on the bottom*/
        flex: 1 1 auto;
    }
}