.section{
    p{
        line-height: var(--lh-text);
    }
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__wrapper{
    overflow-x: scroll;
    min-width: 100%;
}

.table{
    font-size: 16px;
    > div{
        display: grid;
        grid-template-columns: 24px 32px 326px repeat(8, 150px);
        align-items: center;
        gap: 12px;
        padding: 24px;
        &:nth-child(even){
            position: relative;
            &:before{
                content: "";
                position: absolute;
                inset: 0;
                background: #C9D9FF14;
                z-index: -1;
                width: 1760px;
            }
        }

        > div{
            &:nth-child(1){
                width: 24px;
                height: 24px;
            }
            &:nth-child(2){
                text-align: center;
            }
            &:nth-child(3){
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                display: -webkit-box;
                overflow: hidden;
                word-break: break-all;
            }
            &:nth-child(n+4){
                text-align: right;
            }
        }
    }
}

.table__head{
    color: #8F99B0;
}

.show__button{
    width: 56px;
    height: 56px;

    &:disabled{
        cursor: not-allowed;
        svg{
            stroke: #808080;
        }
    }

    &:hover,
    &:focus-within {
        svg{
            stroke: #EF683C;
        }
    }

    svg{
        stroke: white;
        transition: all 0.2s ease-in-out 0s;
    }
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    a{
        padding: 16px 24px;
    }
}